Osoba zatrudniona na tym stanowisku w PIDI bêdzie pracowa³a w zespole programistów rozwijaj¹cych produkty dla naszych klientów. Oznacza to, ¿e trzeba bêdzie wejœæ w pewien  styl pracy. Ten etap ma na celu sprawdzenie, jak sobie z takim zadaniem poradzisz. Poprosimy o wykonanie prostej aplikacji internetowej w PHP bez u¿ycia frameworka. Wykonanie te bêdzie w trybie podobnym do tego, w jakim byæ mo¿e przyjdzie Ci pracowaæ w PIDI. 
Treœæ zadania brzmi nastêpuj¹co: 
Wykonaæ aplikacjê, do zarz¹dzania pracownikami w firmie. Ma to byæ prosty katalog osób, z ich danymi osobowymi oraz zdjêciem. Wymagany jest te¿ mechanizm autoryzacji, aby nie ka¿dy mia³ dostêp do tego serwisu. Jeœli chodzi o szatê graficzn¹ to ocenie bêdzie podlega³a jedynie estetyka - proponujê u¿ycie frameworka CSS, jak np. Twitter Bootstrap lub Foundation. Z funkcjonalnoœci - jedynie dodawanie osoby oraz wyœwietlanie listy osób i szczegó³ów. To wystarczy nam do oceny Twojej pracy.

Podczas tworzenia kodu proszê o korzystanie z systemu kontroli wersji GIT, a kod proszê opublikowaæ w serwisie BitBucket.org (darmowe repozytoria) i udostêpniæ repozytorium u¿ytkownikowi nrafal (to ja).  Specyfikacja celowo jest luŸno okreœlona, a jakoœæ kodu bêdzie tylko jedn¹ sk³adow¹ oceny. Równie istotne bêdzie te¿ podejœcie do projektu - sposoby rozwi¹zania zadanego problemu, sposoby korzystania z systemu kontroli wersji itp. Mile widziane bêd¹ wszelkie dodatki w stylu u¿ycia JavaScriptu. Prosimy o nie korzystanie z frameworka - na codzieñ oczywiœcie ich u¿ywamy, ale chcemy zobaczyæ jak kandydat rozwi¹zuje samodzielnie podstawowe problemy napotykane w pracy nad aplikacjami WWW.